#game-board{
    height: 70vmin;
    width: 70vmin;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap:5px;

    z-index: 0;
}
.tile-container{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1,1fr);
    gap:5px;
}

.piece{
    background-color: blue;
    height:100%;
    width:100%;
    z-index: 2;
}
.white-check{
    box-shadow: 0 0 0 5px yellow;
}
.black-check{
    outline: dashed 5px black;
}