@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

#game-board{
    height: 70vmin;
    width: 70vmin;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);

    z-index: 0;
}
.tile-container{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1,1fr);
}
.tile{
    display: flex;
    flex-direction:column;
    font-family: sans-serif;
    background-color: black;
    
}
