body, html{
    height: 100%;
    margin: 0;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y:hidden
}
*{
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  user-zoom: false;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
    left: 5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
img {
    pointer-events: none;
}
#promotion-wrapper{
    font-size:4vmin;
    z-index: -10; 
}
#generate-wrapper{
    z-index: -10; 
    gap: 1vh;
}  
#generate-btn{
    font-family: 'TooMuchInk',monospace ;
    color:white;
    background-color: green;
    border: none;
    border-radius: 3px;
    width: 50vw;
    height:4vh;
    font-size:2vmin;

    transition: all 0.3s;
}
#cancel-generate-btn:hover{
    color:black;
    background-color: white;
}
#cancel-generate-btn{
    font-family: 'TooMuchInk',monospace ;
    color:white;
    background-color: darkred;
    border: none;
    border-radius: 3px;
    width: 50vw;
    height:4vh;
    font-size:2vmin;

    transition: all 0.3s;
}
#generate-btn:hover{
    color:black;
    background-color: white;
}
#input-pgn{
    height: 30vh;
    width: 50vw;
    resize: none;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgb(0,0,0,0.5);
    color:white;

    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding: 5px;
}
.wrapper{
    color:white;
    font-family: 'TooMuchInk',monospace ;
    background-color: rgb(0,0,0,0.9);
    position: absolute;

    height:100vh;
    width:100vw;

    text-align: center;
    text-justify: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vmin;
    background-image: url('../assets/board/bg.svg');
    background-color: lightyellow;
    background-position: center;
    background-size: 50%;
}
.main-board{
    display:grid;
    grid-template-columns: 5vmin 85vmin;
}
.sidebar{
    height: 85vmin;
    width:30vw;
}
.footer{
    height:7vh;
    background-color: black;
    display: none;
    text-align: justify;
    align-items: center;
    justify-content: space-between;

}
#indicator{
    font-family: 'TooMuchInk',monospace ;
    color:white;
    font-size:4vmin;
    text-align: center;
    text-justify: auto;
}
.footer-button-seperators{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 1vw;
    margin-left: 1vw;
    height: 100%;
    gap: 0.5vw;

    align-items: center;
}
.footer-button-seperators>.btn{
    width:40px;
    height: 40px;
}

.github-link{
    text-decoration: none;
    color:white;
    margin-left: 1vw;
    margin-right: 1vw;

    display:block;
    width: 7vh;
    height: 100%;

    background-image: url('../assets/logos/GitHub-Mark-Light-64px.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:3vh;
}
.footer-button-seperators>.btn{
    background-position: center;
    background-repeat: no-repeat;
    background-size:3vh;

    background-color: transparent;
    border: none;
    transition: all 0.3s;
    

}
#undo-btn{
    background-image: url('../assets/logos/undo.svg');
    
}
#undo-btn:hover{
    transform: scale(1.3);
}
#download-btn{
    background-image: url('../assets/logos/share.svg');
}
#download-btn:hover{
    transform: scale(1.3);
}

#reset-btn{
    background-image: url('../assets/logos/reset.svg');
}
#reset-btn:hover{
    transform: scale(1.3);
}

#notation-btn{
    background-image: url('../assets/logos/notation.svg');
}
#notation-btn:hover{
    transform: scale(1.3);
}
@media only screen and (max-width: 800px) {
    .content{
        height: 85vh;
    }
    .footer{
        position: sticky;
        bottom: 0;
        height:15vh;
        background-color: black;
        display: flex;
        text-align: justify;
        align-items: center;
        justify-content: space-between;
    
    }
  }