.piece{
    position: absolute;
    width: 8.50vmin;
    height: 8.50vmin;
    justify-self: center;

}
.piece{
    z-index: 3;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}
.highlighted{
    outline: dashed 5px black;
}

.black-king{
    background-image: url(../assets/pieces/black-pieces/black-king.svg);
    
}
.black-queen{
    background-image: url(../assets/pieces/black-pieces/black-queen.svg);
}
.black-bishop{
    background-image: url(../assets/pieces/black-pieces/black-bishop.svg);
}
.black-bishop{
    background-image: url(../assets/pieces/black-pieces/black-bishop.svg);
}
.black-rook{
    background-image: url(../assets/pieces/black-pieces/black-rook.svg);
}
.black-knight{
    background-image: url(../assets/pieces/black-pieces/black-knight.svg);
}
.black-pawn{
    background-image: url(../assets/pieces/black-pieces/black-pawn.svg);
}