.main-board{
    display:grid;
    grid-template-columns: 3.5vmin 85vmin;
    grid-template-rows: 85vmin 3.5vmin;
}
.toolbar-holder{
    height:88.75vmin;
    width: 44vmin;
}
.toolbar{
    height: 75vmin;
    width:44vmin;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 2fr 0.5fr 1fr 0.5fr;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    background-image: url('../assets/board/bg.svg');
    background-blend-mode: multiply;
    background-size: 50%;
}
#move-history-holder{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap:1vmin;

}
#move-history{
    display: inline-block;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding: 5px;

    box-sizing: border-box;
    background-color: rgb(60,60,60);
    color:white;
    resize: none;

    margin-left: 1vmin;
    margin-right: 1vmin;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}
#generate-btn{
    display: none;
    font-family: 'TooMuchInk',monospace ;
    color:white;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size:2vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    transition: all 0.3s;
}
#input-pgn{
    display:none;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding: 5px;

    box-sizing: border-box;
    background-color: rgb(60,60,60);
    color:white;
    resize: none;

    margin-left: 1vmin;
    margin-right: 1vmin;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.turn-indicator-holder{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2vmin;
}
#turn-indicator-pic{
    height:8vmin;
    width:8vmin;
}
#win-indicator{
    display:none;
    font-family: 'TooMuchInk',monospace ;
    color:white;
    font-size: 3vmin;
}
.white-turn{
    background-image: url('../assets/logos/white.svg');
    background-size: 100%;
    height:8vmin;
    width:8vmin;
}
.black-turn{
    background-image: url('../assets/logos/black.svg');
    background-size: 100%;
    height:8vmin;
    width:8vmin;
}

#indicator{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'TooMuchInk',monospace ;
    color:white;
    font-size: 3vmin;
    padding: 1vmin;
    margin:1vmin;
    background-color: rgb(60,60,60);
    border-radius: 10px;
}

#opening-indicator{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'TooMuchInk',monospace ;
    color:white;
    font-size: 1.5vmin;
    border: none;

    background-color: rgb(60,60,60);

    margin-left: 1vmin;
    margin-right: 1vmin;

    padding: 1vmin;

    text-align: center;

    box-sizing: border-box;
    color:white;
    resize: none;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: solid rgb(80, 80, 80) ;
}

.traversal-btn-holder{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1vmin;
    gap:5px;
    border-radius: 10px;
}
.traversal-btn-holder>.btn{
    font-size: 3vmin;
    color: white;
    background-color: rgb(60,60,60);
    border:none;
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn.left{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btn.right{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.traversal-btn-holder>.btn:hover{
    color:black;
    background-color: white;
}
.misc-btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.misc-btn-holder>.btn{
    background-position: center;
    background-repeat: no-repeat;
    background-size:3vh;

    background-color: transparent;
    border: none;
    transition: all 0.3s;

    width:40px;
    height: 40px;
    

}
.captured-pieces{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr 1fr;
    gap:5px;
    margin: 1vmin;
    margin-top: 0;
}
.captured-pieces>div{
    background-color: rgb(60,60,60);
    border-radius: 10px;
    display:flex;
    align-items: center;
}
#download-btn{
    background-image: url('../assets/logos/share.svg');
}
#download-btn:hover{
    transform: scale(1.3);
}

#reset-btn{
    background-image: url('../assets/logos/reset.svg');
}
#reset-btn:hover{
    transform: scale(1.3);
}

#notation-btn{
    background-image: url('../assets/logos/notation.svg');
}
#notation-btn:hover{
    transform: scale(1.3);
}

.captured-piece{
    border:solid;
    height:2vmin;
    width:2vmin;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
}